body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  background-color: #f0f0f0;
  color: #333;
}

h1 {
  color: #5b21b6;
}

input, button {
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
}

button {
  background-color: #5b21b6;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  margin-top: 2rem;
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

